.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 0;
  border: none;
}
.modal:-internal-dialog-in-top-layer::backdrop {
  background-color: rgba(49, 48, 48, 0.464);
}
.contents {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}
